p NOTE: This is public, and publishes in real-time to everyone, and gets stored. Don't abuse it please!
br
form#input
  p.control
    label(for='name')
      | Name
      input#name(type='text')
  p.control
    textarea#message(rows=5, cols=40)
  p.control
    input(type='submit', value='Post')

dl.posts#posts
  != partial('post', posts)

script(src="/socket.io/socket.io.js")
script(src="/javascripts/jquery-1.7.2.min.js")
script
  var $form = $('#input');
  var $posts = $('#posts');
  var $name = $('#name');
  var $message = $('#message');
  var socket = io.connect('http://#{host}');
  socket.on('post', function (html) {
    var $new_post = $(html);
    $new_post.hide();
    $posts.prepend($new_post);
    $new_post.slideDown();
  });
  $form.on('submit', function(evt) {
    var name = $name.val(), message = $message.val();
    if (!name || !message) {
      alert('You must supply a name and a message');
      return;
    }
    $message.val('');
    socket.emit('post', {name: name, message: message});
    return false;
  })
